<div class="footer">
  <div class="footer-text">Made with <i class="fa fa-heart"></i> by <a href="https://www.github.com/elainapolson" target="blank">Elaina Polson</a>, <a href="https://www.github.com/minling" target="blank">Minling Zhao</a> &amp; <a href="https://www.github.com/ryannyunn" target="blank">Ryan Yun</a> at <span id = "slash">//</span> <a href="https://www.flatironschool.com" target="blank" style = "text-decoration: none;">Flatiron School</a>.</div>
</div>